<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.esteban-media.index-watch</string>
  <key>ProgramArguments</key>
  <array>
    <string>/opt/homebrew/bin/node</string>
    <string>/Users/gonzalo/code/esteban-media/scripts/search-console-index-watch.mjs</string>
    <string>run</string>
  </array>
  <key>WorkingDirectory</key>
  <string>/Users/gonzalo/code/esteban-media</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    <key>TZ</key>
    <string>America/New_York</string>
    <key>GSC_TOKEN_PATH</key>
    <string>/Users/gonzalo/.config/geebs/google_oauth_webmasters_token.json</string>
    <key>ESTEBAN_MEDIA_INDEX_WATCH_NOTE</key>
    <string>/Users/gonzalo/obsidian-wiki/client-esteban-media/wiki/esteban-media-index-watch.md</string>
    <key>ESTEBAN_MEDIA_INDEX_WATCH_STATE_DIR</key>
    <string>/Users/gonzalo/.local/state/esteban-media-index-watch</string>
  </dict>
  <key>StartCalendarInterval</key>
  <array>
    <dict>
      <key>Weekday</key>
      <integer>3</integer>
      <key>Hour</key>
      <integer>8</integer>
      <key>Minute</key>
      <integer>0</integer>
    </dict>
    <dict>
      <key>Weekday</key>
      <integer>5</integer>
      <key>Hour</key>
      <integer>8</integer>
      <key>Minute</key>
      <integer>0</integer>
    </dict>
    <dict>
      <key>Weekday</key>
      <integer>0</integer>
      <key>Hour</key>
      <integer>8</integer>
      <key>Minute</key>
      <integer>0</integer>
    </dict>
  </array>
  <key>ProcessType</key>
  <string>Background</string>
  <key>LowPriorityIO</key>
  <true/>
  <key>Nice</key>
  <integer>10</integer>
  <key>ThrottleInterval</key>
  <integer>60</integer>
  <key>Umask</key>
  <integer>63</integer>
  <key>StandardOutPath</key>
  <string>/Users/gonzalo/.local/state/esteban-media-index-watch/launchd.out.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/gonzalo/.local/state/esteban-media-index-watch/launchd.err.log</string>
</dict>
</plist>
